body {
    background-color: #e4fbff;

  }
  hr {
    border-style: none;
    border-top-style:dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
  }
  h1 {
    color:#b8b5ff;
  }
  h3 {
    color:#7868e6;
  }
  
